.App {
  text-align: left;
  background-color: #0f7f5b;
  min-width: 100vh;
  min-height: 100vh;
}

.App-Header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.App-Main {
  padding-left: 10px;
  align-items: left;
  justify-content: left;
  color: #FFFFFF;
  font-size: 15px;
}

.App-Menu {
  background-color: #FFFFFF;
  font-size: 15px;
  color: black;
  align-items: left;
  justify-content: left;
  padding-left: 10px;
  height: max-content;
  width: max-content;
}

.App-NavBar {
  background-color: #FFFFFF;
  font-size: 25px;
  color: black;
  align-items: center;
  justify-content: center;
}
